# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]

# Change these settings to your own preference
indent_style = space
indent_size = 2

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

# Makefiles require tabs
[{_Makefile,Makefile,**.mk}]
indent_style = tab

# Indent PHP files according to PSR-2 standard
[*.php]
indent_size = 4
