{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:page.header.meta name="description" content="{page.description}" />
<v:page.header.meta name="abstract" content="{page.abstract}" />
<v:page.header.meta name="keywords" content="{page.keywords}" />
<v:page.header.meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<v:page.header.meta http-equiv="X-UA-Compatible" content="IE=edge" />

<f:if condition="{page.subtitle}">
  <f:then>
    <v:page.header.title title="{page.subtitle} — <%= appNameHumanize %>" whitespaceString=" " setIndexedDocTitle="1" />
  </f:then>
  <f:else>
    <v:page.header.title title="{page.title} — <%= appNameHumanize %>" whitespaceString=" " setIndexedDocTitle="1" />
  </f:else>
</f:if>

<v:asset.script path="EXT:<%= dir %>/Resources/Public/Assets/app.head.js" rewrite="false" standalone="true" movable="false" />
<v:asset.style path="EXT:<%= dir %>/Resources/Public/Assets/app.css" rewrite="false" standalone="true" />
