    {% include 'head.twig' %}
    {% block head %} {% endblock %}
  </head>

  <body class="{{ body_class }}">

    {% include "header.twig" %}

    <main class="Page {% block page_class %}{% endblock %}">
      {% block content %}
        No content.
      {% endblock %}
    </main>

    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}
  </body>
</html>
