{% extends "App.twig" %}

{% set template_class = 'Template--index' %}

{% block content %}
  <div class="Container">
    <div class="Wrap">
      <div class="Grid -l">
        <div class="Grid-cell Width--8/12@m">
          {% include 'Breadcrumb.twig' %}
          {% if heading %}
            <h1>{{ heading }}</h1>
          {% endif %}
          <div class="Articles Articles--default">
            {% for post in posts %}
              {% include 'Article.twig' with {
                heading: post.title,
                link: post.link,
                date: post.date,
                cat: post.category,
                cat_link: post.category.link,
                excerpt: post.post_excerpt ? : post.content|excerpt(20),
              } only %}
            {% endfor %}
            {% include 'Pagination.twig' with {
              query: posts,
            } %}
          </div>
        </div>
        <div class="Grid-cell Width--4/12@m">
          {% include 'templates/partials/Template-aside.twig' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
