{% set template_class = 'Template--page' %}

{% extends "App.twig" %}

{% block content %}
  <div class="Container">
    <div class="Wrap">
      <div class="Grid -l">
        <div class="Grid-cell Width--8/12@m">
          {% include 'Breadcrumb.twig' %}
          <h1>{{ post.title }}</h1>
          <div class="Content">
            <p>{{ post.content }}</p>
          </div>
        </div>
        <div class="Grid-cell Width--4/12@m">
          {% include 'Aside.twig' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
