{% extends "App.twig" %}

{% set template_class = 'Template--default Template--default--search' %}

{% block content %}
  <section class="Container">
    <div class="Wrap">
      <div class="Grid -l">
        <div class="Grid-cell Width--8/12@m">
          <h1>
            {% if results.found_posts %}
              {{ _e('Search results for', 'app') }} "{{ search_query }}"
            {% else %}
              {{ _e('No search results.', 'app') }}
            {% endif %}
          </h1>
          {% for post in results %}
            {% include 'Article.twig' with {
              date: post.date,
              cat: post.category,
              cat_link: post.category.link,
              link: post.guid,
              heading: post.post_title,
              excerpt: post.post_excerpt ? : post.post_content|excerpt(15),
            } %}
          {% endfor %}
        </div>
        <div class="Grid-cell Width--4/12@m">
          {% include 'Aside.twig' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
