{% extends "App.twig" %}

{% set template_class = 'Template--home' %}

{% block content %}
  <div class="Container">
    <div class="Wrap">
      <div class="Grid -l">
        <div class="Grid-cell Width--8/12@m">
          <h1>{{ post.title }}</h1>
          <div class="Content">
            {{ post.content }}
          </div>
        </div>
        <div class="Grid-cell Width--4/12@m">
          {% include 'templates/partials/Template-aside.twig' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
