  {% if WP_DEV %}
    {% include 'head.twig' %}
  {% else %}
    {% include 'build/partials/head.twig' %}
  {% endif %}
</head>

  <body class="App {{ body_class }}">

    {% include "Header.twig" %}

    <main class="Template {{ template_class }}">
      {% block content %}
        No content.
      {% endblock %}
    </main>

    {% include 'Footer.twig' %}

    {% if WP_DEV %}
      {% include 'foot.twig' %}
    {% else %}
      {% include 'build/partials/foot.twig' %}
    {% endif %}

  </body>

</html>
